.bg-primary {
    background-color: #395BBC!important;
}
.text-primary {
  color:  #395BBC !important; }

a {
  color:  #395BBC; }
  a:hover, a:focus, a:active {
    color: #824027; }

section {
	padding-left: 200px !important;
	padding-right: 
}

#lienblanc a {
	color: white !important; 

}

.error {
	color: red !important;
}

hr {
	display: block;
	clear: both;
	height: 0;
	margin: 40px 0 80px;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	font-size: 50px;
	line-height: 1;
}
hr:after {
	content: "\273D \273D \273D";
	height: 0;			
	letter-spacing: 1em;
	color: #aaa;
}
L
